html {
  font-family: 'Titillium Web', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  border-bottom: 5px solid black;
  margin-bottom: 2em;
}

header img {
  margin: 20px;
}

header h1 {
  margin: auto;
  font-size: 5em;
  font-weight: bolder;
}

header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: auto 20px auto 0;
  width: 150px;
  height: 130px;
  border: 2px solid black;
}

header li {
  margin-bottom: 20px;
  font-size: x-large;
}

header li:link {
  font-size: x-large;
}

header li:hover {
  font-size: xx-large;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  width: 100%;
  border: 2px solid black;
}

article {
  display: flex;
  width: 95%;
  border: 2px solid red;
}

article:first-of-type {
  height: 50%;

}

article.main-cards div {
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 10px;
  border: 5px ridge black;
  border-radius: 5%;
  align-items: center;
  width: 18%;
  height: 90%;
}

h2 {
  font-size: 3vw;
  font-weight: bolder;
  margin-top: 0.5em;
  text-align: center;
}

article.main-cards div img {
  width: 10vw;
  border: 5px ridge black;
  border-radius: 50%;
  margin: 1em;

}

article.main-cards div a:link{
  font-size: x-large;
  margin-bottom: 0.5em;
}

article.main-cards div a:hover{
  font-size: xx-large;
  margin-bottom: 0.5em;
}

