html {
  font-family: 'Titillium Web', sans-serif;
  background-image: linear-gradient(#1d0c05, #ffa300);
  background-repeat: no-repeat;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  border-bottom: 5px solid #ffa300;
  margin-bottom: 2em; 
}

header img {
  margin: 20px;
  width: 120px;
  height: 120px;
}

header h1 {
  margin: auto;
  font-size: 5em;
  font-weight: bolder;
  color: #ffa300;
}

header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: auto 20px auto 0;
  width: 150px;
  height: 130px;
  /* border: 2px solid black; */
}

header li {
  margin-bottom: 20px;
  font-size: x-large;
}

header li:link {
  font-size: x-large;
}

header li:hover {
  font-size: xx-large;
}

footer ul a:visited{
  color: #1d0c05;
}

a{
  text-decoration: none;
  color: #ffa300;
}

a:visited{
  color: #ffa300;
}

#archive-list{
  margin-top: 5vh;
}

#job-card{
  background-color: #eaeff1;
  max-width: 500px;
  border: 3px solid #1d0c05;
  padding: 15px;
  border-radius: 12px;

}

.tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
}

.name {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
  margin-left: 175px;
  margin-bottom: 20px;
}

#job-details {
  font-size: 14px;
  color: #7f8c9b;
  line-height: 150%;
}

.card__details {
  padding: 16px 8px 8px 8px;
}

#archive-container{
  margin-top: 150px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
}

#footer-a{
  color: #1d0c05;
}

footer ul a{
  color: #1d0c05;
}