html {
  font-family: 'Titillium Web', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  border-bottom: 5px solid black;
  margin-bottom: 2em;
}

header img {
  margin: 20px;
}

header h1 {
  margin: auto;
  font-size: 5em;
  font-weight: bolder;
}

header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: auto 20px auto 0;
  width: 150px;
  height: 130px;
  border: 2px solid black;
}

header li {
  margin-bottom: 20px;
  font-size: x-large;
}

header li:link {
  font-size: x-large;
}

header li:hover {
  font-size: xx-large;
}

main {
  display: flex;
  margin: auto;
  width: 70%;
}

fieldset {
  display: flex;
  flex-direction: column;
  width: 25%;
}

#project-name{
  display: none;
}

#owner {
  width: 150px
}

#owner-name {
  display: none;
}

.form-element {
  margin-bottom: 10px;
}

#button-container {
  display: flex;
  justify-content: space-between;
}

#clear-btn {
  border-radius: 5px;
}

#submit-btn {
  background-color: #4c934c;
  border-radius: 5px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  align-items: center;
}

footer ul {
  display: flex;
  flex-direction: column;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  margin-left: 15px;
}