html {
  font-family: 'Titillium Web', sans-serif;
  background: linear-gradient(#FFA300,#1D0C05);
  background-repeat: no-repeat;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  color: #1D0C05;
}

header {
  display: flex;
  border-bottom: 5px solid black;
  margin-bottom: 2em;
}

header img {
  margin: 20px;
  width: 150px;
  height: 150px;
}

header h1 {
  margin: auto;
  font-size: 5em;
  font-weight: bolder;
  color: #1d0c05;
}

header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: auto 20px auto 0;
  width: 150px;
  height: 130px;
}

header li {
  margin-bottom: 20px;
  font-size: x-large;
}

header li:link {
  font-size: x-large;
}

header li:hover {
  font-size: xx-large;
}

main {
  display: flex;
  margin: auto;
  min-width: 90%;
  padding: 2em;
}

fieldset {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 1vw;
}

#submission-form {
  margin: auto 1vw auto 0;
  height: 40vw;
}

#project-name{
  display: none;
}

#owner {
  width: 150px
}

#owner-name {
  display: none;
}

.form-element {
  margin-bottom: 10px;
}

#button-container {
  display: flex;
  justify-content: space-between;
}

#clear-btn {
  border-radius: 5px;
}

#submit-btn {
  background-color: #4c934c;
  border-radius: 5px;
}

#bug-container {
  margin: auto 1vw auto 0;
  min-height: 40vw;
  min-width: 30%;
  background: linear-gradient(45deg, #1D0C05, #FFA300, #1D0C05, transparent);
}

section {
  margin: 0 auto;
  min-width: 40%;
  min-height: 90%;
}

#bug-details-context {
  margin: 15px;
  min-height: 90%;
}

footer {
  border-top: 2px solid black;
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0;
}

footer ul {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  margin-left: 20px;
  padding: 10px;
}

footer img {
  margin: auto 20px auto auto;
}

footer ul li {
  margin-bottom: 10px;
  color: #FFA300;
}

footer ul li a {
  margin-left: 15px;
  color: #FFA300;
}